.projects-list-ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
.projects-list
{
    padding: 50px;
}
.ps 
{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: #f47544;
}